.line {
  background-color: #d9534f;
  color: white;
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  font-weight: 300;
  line-height: 22px;
  text-transform: uppercase;
  text-align: center;
  padding: 30px;
}
