.order__title {
  font-size: 26px;
  margin-bottom: 20px ;
}

.order {
  .form-control {
    background-color: #ebebeb;
    border-radius: 3px;
    color: #949494;
    font-size: 12px;
    font-weight: 300;
    line-height: 22px;
    margin-bottom: 10px;
  }
  button {
    border-radius: 3px;
    color: #fffefe;
    font-size: 20px;
    font-weight: 600;
    font-style: italic;
    line-height: 22px;
    padding-top: 20px;
    padding-bottom: 20px;
  }
}